---
smtp:
  server: smtp.hostname.tld
  port: 25
  starttls: True        # Use STARTTLS
  authentication: True  # Login with (the following) username and password
  user: username
  password: password
email:
  from: address@hostname.tld
  to:
    - secondaddress@hostname.tld
    - thirdaddress@hostname.tld
firefly-url: 'https://firefly.hostname.tld'
accesstoken: 'verylongstringfromfireflysettings'
currency: '£'
